  
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fafafa;
  }
  
  li {
 
    color:#6600ff ;
    display: block;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  .menu {
          filter: drop-shadow(1px 1px 1px #4700b3);
          width: 300px;
    button{
        background: #fafafa;
        color: #6600ff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
                margin-right: 20px;
                path {
                    fill: var(--background);
                  }
            }
      }
  
  }
  
  